<div class="container" style="padding-top: 100px;">
  <div class="row">
    <div class="col-lg-7 ">
      <div class="panel panel-default panel-table">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-6">
              <h3 class="panel-title ">Produits</h3>
            </div>
            <div class="col col-xs-6 text-right">
              <button type="button" class="btn btn-sm bg-info btn-create "  (click)="operation='add';initProduit();"><em class=" fa fa-plus-circle"></em>Ajouter</button>
            </div>
          </div>
        </div>
        <div class="panel-body table-responsive">
          <table class="table table-striped table-bordered table-list">
            <thead>
            <tr>
              <th><em class="fa fa-cog"></em></th>
              <th class="hidden-xs">ID</th>
              <th>Reference</th>
              <th>Quantite</th>
              <th>Prix</th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr *ngFor="let p of produits">
              <td style="width:110px">
                <button class="btn btn-outline-info fa fa-edit" (click)="operation='edit'; produit = p;"> </button>
                <button class="btn btn-outline-danger fa fa-trash" (click)="operation='remove';produit=p"></button>
              </td>
              <td class="hidden-xs">#</td>
              <td>{{p.ref}}</td>
              <td>{{p.quantite}}</td>
              <td>{{p.prixUnitaire}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="card" *ngIf="operation != 'remove' ">
        <div class="card-header bg-info">
          {{operation=='add' ? 'Ajouter Produit' :operation=='edit' ? 'Editer Produit' : operation=='remove' ? 'Supprimer Produit':''}}
          </div>
        <div class="card-body">
      <form [formGroup]="produitForm" >
        <div class="form-group">
          <label>Reference:</label>
          <input type="text" class="form-control" formControlName="ref" [(ngModel)]="produit.ref" />
        </div>
        <div class="alert alert-danger"
             *ngIf="
              produitForm.controls['ref'].invalid &&
             (produitForm.controls['ref'].touched  ||
              produitForm.controls['ref'].dirty  )
          ">
          Référence est obligatoire

        </div>
        <div class="form-group">
          <label>Quantite:</label>
          <input type="number" class="form-control" formControlName="quantite" [(ngModel)]="produit.quantite"  />
        </div>
        <div class="form-group">
          <label>Prix Unitaire:</label>
          <input type="number" class="form-control" formControlName="prixunitaire" [(ngModel)]="produit.prixUnitaire"  />
        </div>
        <button class="btn bg-info" [disabled]="produitForm.pristine || produitForm.invalid"
        (click)="operation=='add' ? AddProduit() :operation=='edit' ? EditerProduit():''"
        >
          {{operation=='add' ? 'Ajouter Produit' :operation=='edit' ? 'Editer Produit':''}}
        </button>
        <button class="btn bg-danger" (click)="reset()">Cancel</button>

      </form>
        </div>


      </div>

      <div class="card" *ngIf="operation == 'remove' ">
        <div class="card-header bg-info">
          Remove Produit
        </div>
        <div class="card-body">
          <p>Vous voulez supprimer le poduit dont le reference est :  </p>
          <p>{{produit.ref}} </p>
          <button class="btn bg-danger" (click)="remove(produit.id)">Supprimer</button>
        </div>

          </div>





    </div>
  </div></div>
