<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 text-center">
      <div class="section-title">
        <h1>Liste produits </h1><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna aliqua.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- single product -->
    <div class="col-lg-3 col-md-6">
      <div class="single-product">
        <img class="img-fluid"  alt="">
        <div class="product-details">
          <h6>addidas New Hammer sole
            for Sports person</h6>
          <div class="price">
            <h6>$150.00</h6>
            <h6 class="l-through">$210.00</h6>
          </div>
          <div class="prd-bottom">

            <a href="" class="social-info">
              <span class="fa fa-edit bg-info"></span>
              <p class="hover-text">add to bag</p>
            </a>
            <a href="" class="social-info">
              <span class="fa fa fa-trash bg-info"></span>
              <p class="hover-text">Wishlist</p>
            </a>
            <a href="" class="social-info">
              <span class="fa fa-send bg-info"></span>
              <p class="hover-text">compare</p>
            </a>
            <a href="" class="social-info">
              <span class="fa fa-heart bg-info"></span>
              <p class="hover-text">view more</p>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="single-product">
        <img class="img-fluid" src="img/product/p1.jpg" alt="">
        <div class="product-details">
          <h6>addidas New Hammer sole
            for Sports person</h6>
          <div class="price">
            <h6>$150.00</h6>
            <h6 class="l-through">$210.00</h6>
          </div>
          <div class="prd-bottom">

            <a href="" class="social-info">
              <span class="fa fa-edit bg-info"></span>
              <p class="hover-text">add to bag</p>
            </a>
            <a href="" class="social-info">
              <span class="fa fa fa-trash bg-info"></span>
              <p class="hover-text">Wishlist</p>
            </a>
            <a href="" class="social-info">
              <span class="fa fa-send bg-info"></span>
              <p class="hover-text">compare</p>
            </a>
            <a href="" class="social-info">
              <span class="fa fa-heart bg-info"></span>
              <p class="hover-text">view more</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="single-product">
        <img class="img-fluid" src="img/product/p1.jpg" alt="">
        <div class="product-details">
          <h6>addidas New Hammer sole
            for Sports person</h6>
          <div class="price">
            <h6>$150.00</h6>
            <h6 class="l-through">$210.00</h6>
          </div>
          <div class="prd-bottom">

            <a href="" class="social-info">
              <span class="fa fa-edit bg-info"></span>
              <p class="hover-text">add to bag</p>
            </a>
            <a href="" class="social-info">
              <span class="fa fa fa-trash bg-info"></span>
              <p class="hover-text">Wishlist</p>
            </a>
            <a href="" class="social-info">
              <span class="fa fa-send bg-info"></span>
              <p class="hover-text">compare</p>
            </a>
            <a href="" class="social-info">
              <span class="fa fa-heart bg-info"></span>
              <p class="hover-text">view more</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="single-product">
        <img class="img-fluid" src="img/product/p1.jpg" alt="">
        <div class="product-details">
          <h6>addidas New Hammer sole
            for Sports person</h6>
          <div class="price">
            <h6>$150.00</h6>
            <h6 class="l-through">$210.00</h6>
          </div>
          <div class="prd-bottom">

            <a href="" class="social-info">
              <span class="fa fa-edit bg-info"></span>
              <p class="hover-text">add to bag</p>
            </a>
            <a href="" class="social-info">
              <span class="fa fa fa-trash bg-info"></span>
              <p class="hover-text">Wishlist</p>
            </a>
            <a href="" class="social-info">
              <span class="fa fa-send bg-info"></span>
              <p class="hover-text">compare</p>
            </a>
            <a href="" class="social-info">
              <span class="fa fa-heart bg-info"></span>
              <p class="hover-text">view more</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
          <div class="single-related-product d-flex">
            <a href="#"><img src="img/r1.jpg" alt=""></a>
            <div class="desc">
              <a href="#" class="title">Black lace Heels</a>
              <div class="price">
                <h6>$189.00</h6>
                <h6 class="l-through">$210.00</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
          <div class="single-related-product d-flex">
            <a href="#"><img src="img/r2.jpg" alt=""></a>
            <div class="desc">
              <a href="#" class="title">Black lace Heels</a>
              <div class="price">
                <h6>$189.00</h6>
                <h6 class="l-through">$210.00</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
          <div class="single-related-product d-flex">
            <a href="#"><img src="img/r3.jpg" alt=""></a>
            <div class="desc">
              <a href="#" class="title">Black lace Heels</a>
              <div class="price">
                <h6>$189.00</h6>
                <h6 class="l-through">$210.00</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
          <div class="single-related-product d-flex">
            <a href="#"><img src="img/r5.jpg" alt=""></a>
            <div class="desc">
              <a href="#" class="title">Black lace Heels</a>
              <div class="price">
                <h6>$189.00</h6>
                <h6 class="l-through">$210.00</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
          <div class="single-related-product d-flex">
            <a href="#"><img src="img/r6.jpg" alt=""></a>
            <div class="desc">
              <a href="#" class="title">Black lace Heels</a>
              <div class="price">
                <h6>$189.00</h6>
                <h6 class="l-through">$210.00</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
          <div class="single-related-product d-flex">
            <a href="#"><img src="img/r7.jpg" alt=""></a>
            <div class="desc">
              <a href="#" class="title">Black lace Heels</a>
              <div class="price">
                <h6>$189.00</h6>
                <h6 class="l-through">$210.00</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-related-product d-flex">
            <a href="#"><img src="img/r9.jpg" alt=""></a>
            <div class="desc">
              <a href="#" class="title">Black lace Heels</a>
              <div class="price">
                <h6>$189.00</h6>
                <h6 class="l-through">$210.00</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-related-product d-flex">
            <a href="#"><img src="img/r10.jpg" alt=""></a>
            <div class="desc">
              <a href="#" class="title">Black lace Heels</a>
              <div class="price">
                <h6>$189.00</h6>
                <h6 class="l-through">$210.00</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="single-related-product d-flex">
            <a href="#"><img src="img/r11.jpg" alt=""></a>
            <div class="desc">
              <a href="#" class="title">Black lace Heels</a>
              <div class="price">
                <h6>$189.00</h6>
                <h6 class="l-through">$210.00</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>




